<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469991333567-gtajvt2q2fnd0906eckf6ro2j2nkdl00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469991333567-gtajvt2q2fnd0906eckf6ro2j2nkdl00</string>
	<key>API_KEY</key>
	<string>AIzaSyAIM_NoC9PT7EV52FkeRw-tqHllOz1sCSA</string>
	<key>GCM_SENDER_ID</key>
	<string>469991333567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maslo.companionkit</string>
	<key>PROJECT_ID</key>
	<string>companionkit</string>
	<key>STORAGE_BUCKET</key>
	<string>companionkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469991333567:ios:3fb88decc83eb82254b00a</string>
	<key>DATABASE_URL</key>
	<string>https://companionkit.firebaseio.com</string>
</dict>
</plist>