[submodule "mobile/dependencies/persona"]
	path = mobile/dependencies/persona
	url = git@github.com:bipolarbridges/maslo-persona.git
	branch = bipolarbridges-persona
[submodule "mobile/dependencies/react-native-switch-pro"]
	path = mobile/dependencies/react-native-switch-pro
	url = git@github.com:HeyMaslo/react-native-switch-pro.git