.idea/
.vscode/
node_modules/
build/
dist/
tmp/
temp/

.env
yarn-error.log
**/.DS_Store

.nvm

## Configs
common/models/ClientCard.ts

**/**/**/*.swp
/server/functions/api_key.json
gradle/
.gradle
gen
mobile/ios/GoogleService-Info.plist
